In [102]:
from bs4 import BeautifulSoup, Comment
import requests
import regex as re
import xml
from selenium import webdriver
import pandas as pd

In [103]:
#USD

website = ["https://th.investing.com/currencies/usd-thb-historical-data",
"https://th.investing.com/currencies/jpy-thb-historical-data",
"https://th.investing.com/currencies/cny-thb-historical-data",
"https://www.kasikornbank.com/th/rate/pages/foreign-exchange.aspx",
"https://www.scb.co.th/th/personal-banking/foreign-exchange-rates.html",
]

#start browser

In [104]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
# executable_path param is not needed if you updated PATH

browser = webdriver.Chrome(options=options, executable_path='99.0.4844.51/chromedriver_win32/chromedriver.exe')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13632\924491811.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(options=options, executable_path='99.0.4844.51/chromedriver_win32/chromedriver.exe')

In [105]:
browser.get(website[0])
html = browser.page_source
soup = BeautifulSoup(html, features="html.parser")

In [106]:
data = soup.find('div',{"id" : "results_box"}).find('table',{'class':'genTbl closedTbl historicalTbl'}).find('tbody').find_all('tr')

#pack data to csv file

In [107]:
col = ['Date', 'Price', 'Open','High','Low','Change(%)']
df = pd.DataFrame()
df = df.reindex(columns = col)

In [108]:
for i,d in enumerate(data):
    dd = d.get_text().split('\n')[1:-1]
    df.loc[len(df)] = dd

In [109]:
df

            Date   Price    Open    High     Low Change(%)
0   Mar 18, 2022  33.290  33.210  33.400  33.195     0.27%
1   Mar 17, 2022  33.200  33.400  33.400  33.180    -0.42%
2   Mar 16, 2022  33.340  33.540  33.560  33.250    -0.51%
3   Mar 15, 2022  33.510  33.450  33.570  33.420     0.18%
4   Mar 14, 2022  33.450  33.300  33.470  33.270     0.45%
5   Mar 11, 2022  33.300  33.140  33.360  33.115     0.54%
6   Mar 10, 2022  33.120  33.040  33.170  32.970     0.30%
7   Mar 09, 2022  33.020  33.220  33.235  32.975    -0.48%
8   Mar 08, 2022  33.180  33.000  33.230  32.990     0.55%
9   Mar 07, 2022  33.000  32.690  33.080  32.660     0.95%
10  Mar 04, 2022  32.690  32.590  32.750  32.550     0.34%
11  Mar 03, 2022  32.580  32.530  32.650  32.400     0.22%
12  Mar 02, 2022  32.510  32.710  32.765  32.420    -0.55%
13  Mar 01, 2022  32.690  32.665  32.760  32.510     0.06%
14  Feb 28, 2022  32.670  32.710  32.780  32.590     0.68%
15  Feb 25, 2022  32.450  32.625  32.660  32.415    -0.55%
16  Feb 24, 2022  32.630  32.270  32.890  32.240     1.15%
17  Feb 23, 2022  32.260  32.420  32.480  32.185    -0.49%
18  Feb 22, 2022  32.420  32.270  32.480  32.250     0.43%
19  Feb 21, 2022  32.280  32.140  32.290  32.090     0.37%

In [110]:
df.to_csv('thb-usd.csv',index=False)

#close browser

In [111]:
browser.quit()

In [112]:
# f = open('text.txt', 'w')
# with open('text.txt', 'w',encoding='utf-8') as f:
#     f.write(str(soup))

In [113]:
#soup